<div class="create-recipe-container">
  <mat-stepper [linear]="false">

    <mat-step [stepControl]="firstForm">

      <form class="create-recipe-step-form" [formGroup]="firstForm">

        <ng-template matStepLabel>Podstawowe informacje</ng-template>

        <mat-form-field>
          <mat-label>Nazwa przepisu</mat-label>
          <input matInput formControlName="title">

          <mat-error *ngIf="title?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="title?.hasError('maxlength')">
            Tytuł może zawierać maksymalnie 255 znaków
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Czas przygotowania</mat-label>
          <input matInput formControlName="time" type="number">

          <mat-error *ngIf="time?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="time?.hasError('min')">
            Czas przygotowania powinien wynosić minimum 5 minut
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Liczba porcji</mat-label>
          <input matInput formControlName="portions" type="number">

          <mat-error *ngIf="portions?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="portions?.hasError('min') || portions?.hasError('max')">
            Liczba porcji powinna wynosić od 1 do 100
          </mat-error>

        </mat-form-field>

        <mat-label>Poziom trudności</mat-label>
        <mat-radio-group formControlName="difficulty">
          <mat-radio-button value="EASY">Łatwy</mat-radio-button> <br>
          <mat-radio-button value="MEDIUM">Średni</mat-radio-button> <br>
          <mat-radio-button value="HARD">Trudny</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="difficulty?.hasError('required')">
          To pole jest wymagane
        </mat-error>

        <div class="mat-stepper-buttons-container">
          <button class="mat-stepper-button" mat-raised-button matStepperNext color="primary">
            Dalej
          </button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="secondForm">

      <ng-template matStepLabel>Składniki</ng-template>

      <div>
        <mat-list>
          <mat-list-item *ngFor="let ingredient of recipeIngredients">
            <div>{{ingredient.name}} - {{ingredient.amount}} {{ingredient.measureUnit}}</div>
            <div><button mat-button (click)="removeIngredient(ingredient)"><mat-icon>remove</mat-icon></button></div>
          </mat-list-item>
        </mat-list>
      </div>

      <form class="create-recipe-step-form"
            [formGroup]="secondForm"
            (ngSubmit)="addIngredient(formDirective)" #formDirective="ngForm">

        <mat-form-field>
          <mat-label>Składnik</mat-label>
          <input matInput formControlName="ingredient">

          <mat-error *ngIf="ingredient?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="ingredient?.hasError('maxlength')">
            Nazwa może zawierać maksymalnie 255 znaków
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Ilość</mat-label>
          <input matInput formControlName="amount" type="number">

          <mat-error *ngIf="amount?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="amount?.hasError('min')">
            Ilość składnika powinna być większa lub równa 0.01
          </mat-error>

        </mat-form-field>

        <mat-form-field>
          <mat-label>Miara</mat-label>
          <input matInput formControlName="measureUnit">

          <mat-error *ngIf="measureUnit?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="measureUnit?.hasError('maxlength')">
            Nazwa miary składnika nie może być dłuższa niż 100 znaków
          </mat-error>

        </mat-form-field>

        <button class="add-ingredient-button" mat-raised-button
                color="primary" type="submit"
                [disabled]="!secondForm.valid">
          Dodaj składnik
        </button>

      </form>

      <div class="mat-stepper-buttons-container">
        <button class="mat-stepper-button" mat-raised-button matStepperPrevious color="primary">Wstecz</button>
        <button class="mat-stepper-button" mat-raised-button matStepperNext color="primary">Dalej</button>
      </div>

    </mat-step>

    <mat-step [stepControl]="thirdForm">

      <ng-template matStepLabel>Opis, zdjęcie, kategorie</ng-template>

      <form class="create-recipe-step-form" [formGroup]="thirdForm">

        <mat-form-field>
          <mat-label>Link do zdjęcia</mat-label>
          <input matInput type="url" formControlName="image">

          <mat-error *ngIf="image?.hasError('required')">
            To pole jest wymagane
          </mat-error>

        </mat-form-field>

        <mat-label>Kategorie</mat-label>
        <mat-selection-list class="categories-list" formControlName="categories">
          <mat-list-option *ngFor="let category of allCategories" value="{{category.name}}">
            {{category.name}}
          </mat-list-option>
        </mat-selection-list>
        <mat-error *ngIf="categories?.hasError('required')">
          To pole jest wymagane
        </mat-error>

        <mat-form-field>
          <mat-label>Opis</mat-label>
          <textarea class="recipe-description" matInput formControlName="description"></textarea>

          <mat-error *ngIf="description?.hasError('required')">
            To pole jest wymagane
          </mat-error>
          <mat-error *ngIf="description?.hasError('minlength')">
            Pole powinno zawierać co najmniej 20 znaków
          </mat-error>

        </mat-form-field>

      </form>

      <div class="mat-stepper-buttons-container">
        <button class="mat-stepper-button" mat-raised-button matStepperPrevious color="primary">
          Wstecz
        </button>
        <button mat-raised-button color="primary"
                class="mat-stepper-button"
                [disabled]="!firstForm.valid || recipeIngredients.length < 1 || !thirdForm.valid"
                (click)="createRecipe()">
          Dodaj przepis
        </button>
      </div>

    </mat-step>

  </mat-stepper>
</div>
