.create-recipe-container {
  display: flex;
  justify-content: center;
}

.create-recipe-step-form {
  //width: 30%;
  display: flex;
  flex-direction: column;
}

.categories-list {
  height: 100px;
  overflow: auto;
}

.recipe-description {
  height: 200px;
  overflow: auto;
}

.mat-stepper-button {
  width: 30%;
}

.mat-stepper-buttons-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
