#recipe-title {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

#recipe-image {
  height: 480px;
  float: right;
  margin-right: 20px;
  padding-left: 20px;
}

.icons {
  margin-left: 18px;
  margin-top: 20px;
  float: top;
}

#recipe-description {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 20px;
  margin-right: 20px;
  text-align: justify;
}

h2 {
  margin-top: 5px;
}

#ingredients-info {
  font-size: 16px;
  margin-left: 10px;
}
