<div class="homepage-container">

  <h1 class="mat-display-1 homepage-header">Najnowsze przepisy</h1>

  <div class="homepage-list">
    <ng-container *ngFor="let recipe of latestRecipes">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </ng-container>
  </div>

  <h1 class="mat-display-1 homepage-header">Kategorie</h1>

  <div class="homepage-list">
    <ng-container *ngFor="let category of categories">
      <app-category-card [category]="category"></app-category-card>
    </ng-container>
  </div>

</div>
