<mat-toolbar class="navbar-container" color="primary">
    <div>
      <a mat-button routerLink="">Strona główna</a>
    </div>
    <div>
      <a mat-button routerLink="/login" *ngIf="role === 'NOT_LOGGED_IN'">Logowanie</a>
      <a mat-button routerLink="/register" *ngIf="role === 'NOT_LOGGED_IN'">Rejestracja</a>
      <a mat-button routerLink="/profile" *ngIf="role !== 'NOT_LOGGED_IN'">{{username}}</a>
      <a mat-button (click)="logout()" *ngIf="role !== 'NOT_LOGGED_IN'">Wyloguj</a>
    </div>
</mat-toolbar>
